<div class="total-layout">
    <div class="sidebar">
    <div class="sidebar-brand">Morpankh</div>
    <div style="margin-top: var(--space-m);"></div>
    <a href="/admin" class="dashboard-lnk"><div class="sidebar-items"><i data-lucide="layout-dashboard" class="icon"></i>Dashboard</div></a>
    <a href="/admin/products" class="products"><div class="sidebar-items"><i data-lucide="shirt" class = "icon"></i>Products</div></a>
    <a href="/admin/checkout" class="checkout"><div class="sidebar-items"><i data-lucide="shopping-cart" class = "icon"></i>Checkout</div></a>
    <a href="/admin/orders" class="orders"><div class="sidebar-items"><i data-lucide="clipboard" class="icon"></i>Orders</div></a>
    <a href="/admin/messages" class="messages"><div class="sidebar-items"><i data-lucide="message-circle-more" class="icon"></i>Messaging</div></a>
    <a href="/admin/users" class="users"><div class="sidebar-items"><i data-lucide="users" class="icon"></i>Users</div></a>
    <a href="/admin/complaints" class="Enquiries"><div class="sidebar-items"><i data-lucide="mail-check" class = "icon"></i>Enquiries</div></a>
    <a href="/admin/audit" class="audit"><div class="sidebar-items"><i data-lucide="clock" class="icon"></i>Audit Log</div></a>
    <a href="/admin/logout" class="signOut"><div class="sidebar-items"><i data-lucide="log-out" class="icon"></i>Sign Out</div></a>
</div>
<div class="topbar">
    <div class="topbar-text"><i data-lucide="chevron-right" class="chevron-right"></i></div>
    <div class="account">
        <img class="acc-img" src="<%=userDP%>">
    </div>

</div>

</div>
<script src="/js/adminNav.js"></script>
<script>
  lucide.createIcons();
</script>
