<!DOCTYPE html>
<html lang="en">
<head>

    <!-- Common Links -->
    <%- include("../../partials/links") %>
    <link href="/css/add.css" rel="stylesheet">

    <!-- Meta -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Add Form</title>

</head>

<body>

    <!-- Local Storage -->
    <script>
        localStorage.setItem("display", "<%=display%>")
        console.log(localStorage.getItem("display"))
    </script>

    <!-- Admin Navigation -->
    <%- include("../../partials/adminNav") %>

    <!-- ===================== ADD PRODUCT FORM ===================== -->
    <div class="add-form">

        <form action="/admin/products/add/data" method="post">

            <!-- ===================== BASIC INFORMATION ===================== -->
            <div class="header" id="first-header">Basic Information</div>

            <div class="section">

                <!-- Name + Category -->
                <div class="input-row">

                    <div class="form-item">
                        <label for="name">Name</label>
                        <input type="text" id="name" name="name" placeholder="Material - Design - Category - Add Ons" required>
                    </div>

                    <div class="form-item">
                        <label for="category">Category</label>
                        <select id="category" name="category">
                            <option value="">Select category [ Dropdown ]</option>
                            <option value="readymade">Ready-Made</option>
                            <option value="blouse">Standalone Blouse</option>
                            <option value="sarees">Sarees</option>
                            <option value="wraps">Wraps</option>
                            <option value="homeDecor">Home Decor</option>
                            <option value="jewellery">Jewellery</option>
                        </select>
                    </div>

                </div>

                <!-- Price + Material + Stock -->
                <div class="input-row">

                    <div class="form-item">
                        <label for="price">GST Included Price</label>
                        <input type="number" id="price" name="price" placeholder="Enter Product Price" required>
                    </div>

                    <div class="form-item">
                        <label for="product-material">Material of Product</label>
                        <select id="product-material" name="material">
                        <option value="">Select category</option>

                        <optgroup label="Natural Fabrics">
                            <option value="cotton">Cotton</option>
                            <option value="silk">Silk</option>
                            <option value="linen">Linen</option>
                            <option value="wool">Wool</option>
                            <option value="khadi">Khadi</option>
                            <option value="jute">Jute</option>
                            <option value="resham">Resham</option>
                        </optgroup>
                        <optgroup label="Blended Fabrics">
                            <option value="tasarCotton">Tasar-Cotton</option>
                            <option value="silkCotton">Silk-Cotton</option>
                            <option value="silkLinen">Silk-Linen</option>
                            <option value="silkWool">Silk-Wool</option>
                        </optgroup>

                        <optgroup label="Semi-Synthetic Fabrics">
                            <option value="rayon">Rayon</option>
                            <option value="modal">Modal</option>
                            <option value="viscose">Viscose</option>
                            <option value="bamboo">Bamboo Fabric</option>
                        </optgroup>

                        <optgroup label="Synthetic Fabrics">
                            <option value="polyester">Polyester</option>
                            <option value="nylon">Nylon</option>
                            <option value="acrylic">Acrylic</option>
                            <option value="net">Net</option>
                            <option value="satin">Satin</option>
                            <option value="velvet">Velvet</option>
                        </optgroup>

                        <optgroup label="Jewellery Materials">
                            <option value="silver">Silver</option>
                            <option value="gold-plated">Gold Plated</option>
                            <option value="brass">Brass</option>
                            <option value="copper">Copper</option>
                            <option value="oxidised-metal">Oxidised Metal</option>
                            <option value="alloy">Alloy</option>
                            <option value="beads">Beads</option>
                            <option value="stones">Stones</option>
                            <option value="pearls">Pearls</option>
                            <option value="shell">Shell</option>
                            <option value="thread">Thread</option>
                        </optgroup>
                    </select>
                    </div>

                    <div class="form-item">
                        <label for="stock">Number in Stock</label>
                        <input type="number" id="stock" name="stock" placeholder="Enter Product Stock Number" required>
                    </div>

                </div>

                <!-- Description -->
                <div class="input-row">
                    <div class="form-item" id="row">
                        <label for="description">Description</label>
                        <textarea id="description" name="description" placeholder="Describe your Product" required></textarea>
                    </div>
                       <div class="form-item">
                            <label for="hsnCode">Product HSN Code</label>
                           <select id="hsnCode" name="hsnCode">

                            <option value="">SelectHSN</option>

                            <optgroup label="Textiles & Fabrics">
                                <option value="5007">Silk [5007]</option>
                                <option value="5208">Cotton [5208]</option>
                                <option value="5112">Wool [5112]</option>
                                <option value="5309">Linen [5309]</option>
                                <option value="5407">Modal / Synthetic Filament Fabric [5407]</option>
                                <option value="5516">Viscose [5516]</option>
                                <option value="5310">Jute [5310]</option>
                            </optgroup>

                            <optgroup label="Jewellery - Precious">
                                <option value="7113">Gold / Silver Jewellery [7113]</option>
                                <option value="7114">Articles of Goldsmith / Silversmith [7114]</option>
                            </optgroup>

                            <optgroup label="Jewellery - Imitation & Fashion">
                                <option value="7117">Imitation Jewellery [7117]</option>
                            </optgroup>

                            <optgroup label="Wooden Ornaments">
                                <option value="4420">Wooden Handicraft / Ornaments [4420]</option>
                            </optgroup>

                            </select>
                        </div>
            </div>

            <!-- ===================== SPECIFICATIONS ===================== -->
            <div class="header">Specifications</div>

            <!-- ===================== SAREES ===================== -->
            <fieldset class="section-sarees">
                <!--Common Saree Items-->

                <div class="saree-common-box">
                    <div class="input-row">

                        <div class="form-item">
                            <label for="saree-length">Saree Length</label>
                            <input type="text" id="saree-length" name="sareeLength" placeholder="Enter Length of Saree (Meters)" required>
                        </div>
                        <div class="form-item">
                            <label for="saree-width">Saree Width</label>
                            <input type="text" id="saree-width" name="sareeWidth" placeholder="Enter width of Saree (Inches)" required>
                        </div>

                        <div class="form-item">
                            <label for="saree-design">Design of Saree</label>
                            <select id="saree-design" name="sareeDesign">
                                <option value="">Select category</option>
                                <option value="plain">Plain</option>
                                <optgroup label = "Embroidery">
                                    <option value="zari">Zari Work</option>
                                    <option value="kantha">Kantha</option>
                                    <option value="aari">Aari</option>
                                    <option value="sozni">Sozni</option>
                                    <option value="sujni">Sujni</option>
                                    <option value="kashmiri">Kashmiri</option>
                                    <option value="Kachh">Kachh Work</option>
                                    <option value="kasuti">Kasuti</option>
                                    <option value="lambani">Lambani</option>
                                    <option value="toda">Toda</option>
                                    <option value="mirror">Mirror Work</option>
                                    <option value="sequin">Sequin Work</option>
                                    <option value="stone">Stone Work</option>
                                </optgroup>
                                <optgroup label="Handloom Weave">
                                    <option value="jamdani">Jamdani</option>
                                    <option value="bhujodi">Bhujodi</option>
                                    <option value="kashida">Kashida</option>
                                    <option value="khadi">Khadi</option>
                                    <option value="chanderi">Chanderi</option>
                                    <option value="maheshwari">Maheshwari</option>
                                    <option value="kumaoni">Kumaoni</option>
                                    <option value="kanjivaram">Kanjivaram</option>
                                    <option value="gadual">Gadual</option>
                                    <option value="odishaWeave">Odisha Weave</option>
                                    <option value="kerela Weave">Kerela Weave</option>
                                    <option value="venkatgiri">Venkatgiri</option>
                                    <option value="madurai">madurai</option>
                                    <option value="kosa">Kosa</option>
                                    <option value="mangalgiri">mangalgiri</option>
                                    <option value="ikkat">Ikkat</option>
                                    <option value="bhagalpuri">Bhagalpuri</option>
                                    <option value="bengalWeave">Bengal Weave</option>
                                    <option value="assamWeave">Assam Weave</option>
                                    <optgroup label="Banarasi">
                                        <option value="tanchoi">Tanchoi</option>
                                        <option value="brocade">Brocade</option>
                                        <option value="chicarga">Chicarga</option>
                                        <option value="kinkhap">Kinkhap</option>
                                    </optgroup>   
                                </optgroup>
                                 <optgroup label = "Handblock">
                                    <option value="ajrakh">Ajrakh</option>
                                    <option value="pigmentBlock">Pigment Block</option>
                                    <option value="dabu">Dabu</option>
                                    <option value="batique">Batique</option>
                                    <option value="ecoPrint">Eco Print</option>
                                    <option value="bagh">Bagh</option>
                                </optgroup>
                                <optgroup label = "Hand Painting">
                                    <option value="penKalamkari">Pen Kalamkari</option>
                                    <option value="silkDyePaint">Silk Dye Paint</option>
                                    <option value="waxBatique">Wax batique</option>
                                    <option value="resistDye">Resist Dye</option>
                                    <option value="madhubani">Madhubani</option>
                                    <option value="saura">Saura</option>
                                    <option value="rogan">Rogan</option>
                                    <option value="gondha">Gondha</option>
                                    <option value="gond">Gond</option>
                                    <option value="pattachitra">Pattachitra</option>
                                    <option value="potPainting">Pot Painting</option>
                                    <option value="fudPainting">Fud Painting</option>
                                    <option value="devotional">Devotional</option>
                                    <option value="marbleArt">Marble Art</option>
                                </optgroup>
                                <optgroup label = "Tie-Dye">
                                    <option value="bandhani">Bandhani</option>
                                    <option value="japaneseShibori">Japanese Shibori</option>
                                    <option value="nuiShibori">Nui Shibori</option>
                                    <option value="bandej">Bandej</option>
                                    <option value="ecoPrint">Eco Print</option>
                                    <option value="bagh">Bagh</option>
                                </optgroup>
                            </select>

                        </div>
                        </div>
                        <div class="input-row">
                            <div class="form-item">
                                <label for="saree-blouse-choice">Blouse Included?</label>
                                <select id="saree-blouse-choice" name="blouseIncluded">
                                    <option value="">Select category</option>
                                    <option value="yes">Yes</option>
                                    <option value="no">No</option>
                                </select>
                            </div>
                                <div class="form-item">
                                    <label for="fabric-type">saree Fabric Type</label>
                                    <select id="fabric-type" name="sareeFabricType">
                                        <option value="">Select Fabric Type</option>
                                        <optgroup label="Plain Weave Based">
                                        <option value="plainWeave">Plain Weave</option>
                                        <option value="chiffon">Chiffon</option>
                                        <option value="georgette">Georgette</option>
                                        <option value="organza">Organza</option>
                                        <option value="voile">Voile</option>
                                        <option value="crepe">Crepe</option>
                                        <option value="cambric">Cambric</option>
                                        <option value="poplin">Poplin</option>
                                        <option value="muslin">Muslin</option>
                                        <option value="lawn">Lawn</option>
                                        </optgroup>
                                        <optgroup label="Twill Based">
                                        <option value="twill">Twill</option>
                                        <option value="drill">Drill</option>
                                        <option value="gabardine">Gabardine</option>
                                        <option value="denim">Denim</option>
                                        </optgroup>
                                        <optgroup label="Satin Based">
                                        <option value="satin">Satin</option>
                                        <option value="sateen">Sateen</option>
                                        <option value="duchessSatin">Duchess Satin</option>
                                        </optgroup>
                                        <optgroup label="Jacquard & Figured">
                                        <option value="jacquard">Jacquard</option>
                                        <option value="brocade">Brocade</option>
                                        <option value="damask">Damask</option>
                                        </optgroup>
                                        <optgroup label="Open / Mesh">
                                        <option value="net">Net</option>
                                        <option value="mesh">Mesh</option>
                                        <option value="lace">Lace</option>
                                        </optgroup>
                                        <optgroup label="Pile / Raised">
                                        <option value="velvet">Velvet</option>
                                        <option value="corduroy">Corduroy</option>
                                        <option value="terry">Terry</option>
                                        </optgroup>
                                        <optgroup label="Knitted Constructions">
                                        <option value="singleJersey">Single Jersey</option>
                                        <option value="ribKnit">Rib Knit</option>
                                        <option value="interlock">Interlock</option>
                                        </optgroup>
                                        <optgroup label="Special Constructions">
                                        <option value="chanderiWeave">Chanderi Weave</option>
                                        <option value="kotaDoria">Kota Doria</option>
                                        <option value="doubleCloth">Double Cloth</option>
                                        <option value="crepeWeave">Crepe Weave</option>
                                        </optgroup>
                                    </select>
                                </div>
                            </div>
                        </div>

    

                <!-- Blouse Type -->
                <div class="blouse-included-box">
                    <div class="input-row">
                        <div class="form-item">
                            <label for="saree-blouse-type">Blouse Type</label>
                            <select id="saree-blouse-type" name="blouseType">
                                <option value="">Select category</option>
                                <option value="unstitched">Unstitched</option>
                                <option value="semi-stitched">Semi-Stitched</option>
                                <option value="stitched">Stitched</option>
                            </select> 
                        </div>
                        <div class="form-item">
                            <label for="blouseMaterial">Blouse Material</label>
                            <select id="blouseMaterial" name="blouseMaterial">
                                    <option value="">Select category</option>

                                    <optgroup label="Natural Fabrics">
                                        <option value="cotton">Cotton</option>
                                        <option value="silk">Silk</option>
                                        <option value="linen">Linen</option>
                                        <option value="wool">Wool</option>
                                        <option value="khadi">Khadi</option>
                                        <option value="jute">Jute</option>
                                        <option value="resham">Resham</option>
                                    </optgroup>
                                    <optgroup label="Blended Fabrics">
                                        <option value="tasarCotton">Tasar-Cotton</option>
                                        <option value="silkCotton">Silk-Cotton</option>
                                        <option value="silkLinen">Silk-Linen</option>
                                        <option value="silkWool">Silk-Wool</option>
                                    </optgroup>

                                    <optgroup label="Semi-Synthetic Fabrics">
                                        <option value="rayon">Rayon</option>
                                        <option value="modal">Modal</option>
                                        <option value="viscose">Viscose</option>
                                        <option value="bamboo">Bamboo Fabric</option>
                                    </optgroup>

                                    <optgroup label="Synthetic Fabrics">
                                        <option value="polyester">Polyester</option>
                                        <option value="nylon">Nylon</option>
                                        <option value="acrylic">Acrylic</option>
                                        <option value="net">Net</option>
                                        <option value="satin">Satin</option>
                                        <option value="velvet">Velvet</option>
                                    </optgroup>

                        </select>

                    </div>
                    <div class="form-item">
                            <label for="blouse-lining">Lining of Blouse</label>
                            <select id="blouse-lining" name="blouseLining">
                                <option value = "">Select Category</option>
                                <option value = "yes">Yes</option>
                                <option value = "No">No</option>
                            </select>
                    </div>
                </div>
                <div class="input-row">
                     <div class="form-item">
                            <label for="fabric-type">Blouse Fabric</label>
                            <select id="fabric-type" name="blouseFabricType">
                                <option value="">Select Fabric Type</option>
                                <optgroup label="Plain Weave Based">
                                <option value="plainWeave">Plain Weave</option>
                                <option value="chiffon">Chiffon</option>
                                <option value="georgette">Georgette</option>
                                <option value="organza">Organza</option>
                                <option value="voile">Voile</option>
                                <option value="crepe">Crepe</option>
                                <option value="cambric">Cambric</option>
                                <option value="poplin">Poplin</option>
                                <option value="muslin">Muslin</option>
                                <option value="lawn">Lawn</option>
                                </optgroup>
                                <optgroup label="Twill Based">
                                <option value="twill">Twill</option>
                                <option value="drill">Drill</option>
                                <option value="gabardine">Gabardine</option>
                                <option value="denim">Denim</option>
                                </optgroup>
                                <optgroup label="Satin Based">
                                <option value="satin">Satin</option>
                                <option value="sateen">Sateen</option>
                                <option value="duchessSatin">Duchess Satin</option>
                                </optgroup>
                                <optgroup label="Jacquard & Figured">
                                <option value="jacquard">Jacquard</option>
                                <option value="brocade">Brocade</option>
                                <option value="damask">Damask</option>
                                </optgroup>
                                <optgroup label="Open / Mesh">
                                <option value="net">Net</option>
                                <option value="mesh">Mesh</option>
                                <option value="lace">Lace</option>
                                </optgroup>
                                <optgroup label="Pile / Raised">
                                <option value="velvet">Velvet</option>
                                <option value="corduroy">Corduroy</option>
                                <option value="terry">Terry</option>
                                </optgroup>
                                <optgroup label="Knitted Constructions">
                                <option value="singleJersey">Single Jersey</option>
                                <option value="ribKnit">Rib Knit</option>
                                <option value="interlock">Interlock</option>
                                </optgroup>
                                <optgroup label="Special Constructions">
                                <option value="chanderiWeave">Chanderi Weave</option>
                                <option value="kotaDoria">Kota Doria</option>
                                <option value="doubleCloth">Double Cloth</option>
                                <option value="crepeWeave">Crepe Weave</option>
                                </optgroup>
                            </select>
                    </div>
                    <div class="form-item">
                            <label for="blouse-pattern">Blouse Design</label>
                            <select id="blouse-pattern" name="blouseDesign">
                                <option value="">Select category</option>
                                <option value="plain">Plain</option>
                                <optgroup label = "Embroidery">
                                    <option value="zari">Zari Work</option>
                                    <option value="kantha">Kantha</option>
                                    <option value="aari">Aari</option>
                                    <option value="sozni">Sozni</option>
                                    <option value="sujni">Sujni</option>
                                    <option value="kashmiri">Kashmiri</option>
                                    <option value="Kachh">Kachh Work</option>
                                    <option value="kasuti">Kasuti</option>
                                    <option value="lambani">Lambani</option>
                                    <option value="toda">Toda</option>
                                    <option value="mirror">Mirror Work</option>
                                    <option value="sequin">Sequin Work</option>
                                    <option value="stone">Stone Work</option>
                                </optgroup>
                                <optgroup label="Handloom Weave">
                                    <option value="jamdani">Jamdani</option>
                                    <option value="bhujodi">Bhujodi</option>
                                    <option value="kashida">Kashida</option>
                                    <option value="khadi">Khadi</option>
                                    <option value="chanderi">Chanderi</option>
                                    <option value="maheshwari">Maheshwari</option>
                                    <option value="kumaoni">Kumaoni</option>
                                    <option value="kanjivaram">Kanjivaram</option>
                                    <option value="gadual">Gadual</option>
                                    <option value="odishaWeave">Odisha Weave</option>
                                    <option value="kerela Weave">Kerela Weave</option>
                                    <option value="venkatgiri">Venkatgiri</option>
                                    <option value="madurai">madurai</option>
                                    <option value="kosa">Kosa</option>
                                    <option value="mangalgiri">mangalgiri</option>
                                    <option value="ikkat">Ikkat</option>
                                    <option value="bhagalpuri">Bhagalpuri</option>
                                    <option value="bengalWeave">Bengal Weave</option>
                                    <option value="assamWeave">Assam Weave</option>
                                    <optgroup label="Banarasi">
                                        <option value="tanchoi">Tanchoi</option>
                                        <option value="brocade">Brocade</option>
                                        <option value="chicarga">Chicarga</option>
                                        <option value="kinkhap">Kinkhap</option>
                                    </optgroup>   
                                </optgroup>
                                 <optgroup label = "Handblock">
                                    <option value="ajrakh">Ajrakh</option>
                                    <option value="pigmentBlock">Pigment Block</option>
                                    <option value="dabu">Dabu</option>
                                    <option value="batique">Batique</option>
                                    <option value="ecoPrint">Eco Print</option>
                                    <option value="bagh">Bagh</option>
                                </optgroup>
                                <optgroup label = "Hand Painting">
                                    <option value="penKalamkari">Pen Kalamkari</option>
                                    <option value="silkDyePaint">Silk Dye Paint</option>
                                    <option value="waxBatique">Wax batique</option>
                                    <option value="resistDye">Resist Dye</option>
                                    <option value="madhubani">Madhubani</option>
                                    <option value="saura">Saura</option>
                                    <option value="rogan">Rogan</option>
                                    <option value="gondha">Gondha</option>
                                    <option value="gond">Gond</option>
                                    <option value="pattachitra">Pattachitra</option>
                                    <option value="potPainting">Pot Painting</option>
                                    <option value="fudPainting">Fud Painting</option>
                                    <option value="devotional">Devotional</option>
                                    <option value="marbleArt">Marble Art</option>
                                </optgroup>
                                <optgroup label = "Tie-Dye">
                                    <option value="bandhani">Bandhani</option>
                                    <option value="japaneseShibori">Japanese Shibori</option>
                                    <option value="nuiShibori">Nui Shibori</option>
                                    <option value="bandej">Bandej</option>
                                    <option value="ecoPrint">Eco Print</option>
                                    <option value="bagh">Bagh</option>
                                </optgroup>
                            </select>
                        </div>


                </div>
                   
                </div>
                
                <!--Unstitched Blouse-->
                <div class="blouse-unstitched-box">
                    <div class="input-row">

                            <div class="form-item">
                                <label for="blouse-length">Length of Blouse</label>
                                <input type="text" id="blouse-length" name="blouseLength" placeholder="Enter Length of Blouse (Inches)" required>
                            </div>
                    </div>
                </div>


                <!-- Semi-Stitched Blouse -->
                <div class="blouse-semi-box">
                    <div class="input-row">

                        <div class="form-item">
                            <label for="blouse-chest">Chest Size of Blouse</label>
                            <input type="text" id="blouse-chest" name="blouseChest" placeholder="Enter Chest Size of Blouse (Inches)" required>
                        </div>

                        <div class="form-item">
                            <label for="blouse-length">Length of Blouse</label>
                            <input type="text" id="blouse-length" name="blouseLength" placeholder="Enter Length of Blouse (Inches)" required>
                        </div>
                    </div>
                        <div class="input-row">
                            <div class="form-item">
                                <label for="blouse-lining">Lining of Blouse</label>
                                <select id="blouse-lining" name="blouseLining">
                                    <option value = "">Select Category</option>
                                    <option value = "yes">Yes</option>
                                    <option value = "No">No</option>
                                </select>
                            </div>
                        <div class="form-item">
                            <label for="blouse-sleeve">Sleeve Type of Blouse</label>
                            <select id="blouse-sleeve" name="blouseSleeve">
                                <option value="">Select category</option>
                                <option value="notRequired">Not Required</option>
                                <option value="sleeveless">Sleeveless</option>
                                <option value="cap-sleeve">Cap Sleeve</option>
                                <option value="short-sleeve">Short Sleeve</option>
                                <option value="elbow-length">Elbow Length</option>
                                <option value="three-quarter">Three-Quarter Sleeve</option>
                                <option value="full-sleeve">Full Sleeve</option>
                            </select>
                        </div>
                    </div>
                </div>

                <!-- Fully Stitched Blouse -->
                <div class="blouse-stitched-box">
                    <div class="input-row">
                        <div class="form-item">
                            <label for="blouseSize">Size of Blouse</label>
                            <select id="blouseSize" name="blouseSize">
                                <option value="">Select category</option>
                                <option value="freeSize">Free Size</option>
                                <option value="small">Small [ S ]</option>
                                <option value="medium">Medium [ M ]</option>
                                <option value="large">Large [ L ]</option>
                                <option value="extraLarge">Extra Large [ XL ]</option>
                                
                            </select>
                        </div>
                        
                        <div class="form-item">
                            <label for="blouse-sleeve">Sleeve Type of Blouse</label>
                            <select id="blouse-sleeve" name="blouseSleeve">
                                <option value="">Select category</option>
                                <option value="notRequired">Not Required</option>
                                <option value="sleeveless">Sleeveless</option>
                                <option value="cap-sleeve">Cap Sleeve</option>
                                <option value="short-sleeve">Short Sleeve</option>
                                <option value="elbow-length">Elbow Length</option>
                                <option value="three-quarter">Three-Quarter Sleeve</option>
                                <option value="full-sleeve">Full Sleeve</option>
                            </select>
                        </div>
                    </div>

                    <div class="input-row">
                        <div class="form-item">
                            <label for="blouse-clouse">Closure Type</label>
                            <select id="blouse-closure" name="blouseClosure">
                                <option value="notRequired">Not Required</option>
                                <option value="">Select Category</option>
                                <option value="backHooks">Back Hooks</option>
                                <option value="frontHooks">Front Hooks</option>
                                <option value="tieUp">Tie-up Back (Dori)</option>
                                <option value="backButton">Buttoned Back</option>
                                <option value="backZipper">Back Zipper</option>
                                <option value="sideZipper">Side Zipper</option>
                            </select>
                        </div>
                        <div class="form-item">
                            <label for="blouse-back">Back Type</label>
                            <select id="blouse-back" name="blouseBack">
                                <option value="">Select back style</option>
                                <option value="notRequired">Not Required</option>
                                <option value="closedBack">Closed Back</option>
                                <option value="highBack">High Back</option>
                                <option value="buttonedBack">Buttoned Back</option>
                                <option value="zipperBack">Zipper Back</option>
                                <option value="hookedBack">Hooked Back</option>
                                <option value="deepUBack">Deep U Back</option>
                                <option value="deepVBack">Deep V Back</option>
                                <option value="roundBack">Round Back</option>
                                <option value="squareBack">Square Back</option>
                                <option value="keyholeBack">Keyhole Back</option>
                                <option value="doriTieUpBack">Dori Tie-Up Back</option>
                                <option value="crissCrossTieBack">Criss-Cross Tie Back</option>
                                <option value="tieUpWithTassels">Tie-Up with Tassels</option>
                                <option value="cutOutBack">Cut-Out Back</option>
                                <option value="multipleCutOutBack">Multiple Cut-Out Back</option>
                                <option value="sheerNetBack">Sheer / Net Back</option>
                                <option value="borderPanelBack">Back with Border Panel</option>
                                <option value="backless">Backless</option>
                                <option value="cagedBack">Caged Back</option>
                                <option value="corsetBack">Corset Back</option>
                                <option value="bowTieBack">Bow Tie Back</option>
                            </select>
                        </div>

                    </div>

                </div>



            </fieldset>

            <!-- ===================== Ready - Made ===================== -->
            <fieldset class="section-readymade">
                <div class="input-row">

                    <div class="form-item">
                        <label for="readymadeLength">Length</label>
                        <select id="readymadeLength" name="readymadeLength" placeholder="Enter Length of ReadyMade Dress (inches)" required>
                            <option value="">Select category</option>
                            <option value = "notRequired">Not Required</option>
                            <option value = "short">Short</option>
                            <option value = "regular">Regular</option>
                            <option value = "kneeLength">Knee Length</option>
                            <option value = "calfLength">Calf Length</option>
                            <option value = "ankleLength">Ankle Length</option>
                            <option value = "fullLength">Full Length</option>

                        </select>
                    </div>
                    <div class="form-item">
                        <label for="readymadeFit">Fit-Type</label>
                        <select id="readymadeFit" name="readymadeFit">
                            <option value="">Select category</option>
                            <option value = "notRequired">Not Required</option>
                            <option value="straight-fit">Straight Fit</option>
                            <option value="regular-fit">Regular Fit</option>
                            <option value="slim-fit">Slim Fit</option>
                            <option value="a-line">A-Line</option>
                            <option value="anarkali-fit">Anarkali Fit</option>
                            <option value="angrakha-fit">Angrakha Fit</option>
                            <option value="front-slit-fit">Front Slit Fit</option>
                            <option value="high-low-fit">High-Low Fit</option>
                            <option value="long-straight-fit">Long Straight Fit</option>
                        </select>
                    </div>
                    <div class="form-item">
                        <label for="readymadeSize">Size</label>
                        <select id="readymadeSize" name="readymadeSize">
                            <option value="">Select category</option>
                            <option value="freeSize">Free Size</option>
                            <option value="small">Small [ S ]</option>
                            <option value="medium">Medium [ M ]</option>
                            <option value="large">Large [ L ]</option>
                            <option value="extraLarge">Extra Large [ XL ]</option>
                            
                        </select>
                    </div>

                </div>
                <div class="input-row">
                    <div class="form-item">
                        <label for="readymadeDesign">Design</label>
                        <select id="readymadeDesign" name="readymadeDesign">
                            <option value="">Select category</option>
                                <option value="plain">Plain</option>
                                <optgroup label = "Embroidery">
                                    <option value="zari">Zari Work</option>
                                    <option value="kantha">Kantha</option>
                                    <option value="aari">Aari</option>
                                    <option value="sozni">Sozni</option>
                                    <option value="sujni">Sujni</option>
                                    <option value="kashmiri">Kashmiri</option>
                                    <option value="Kachh">Kachh Work</option>
                                    <option value="kasuti">Kasuti</option>
                                    <option value="lambani">Lambani</option>
                                    <option value="toda">Toda</option>
                                    <option value="mirror">Mirror Work</option>
                                    <option value="sequin">Sequin Work</option>
                                    <option value="stone">Stone Work</option>
                                </optgroup>
                                <optgroup label="Handloom Weave">
                                    <option value="jamdani">Jamdani</option>
                                    <option value="bhujodi">Bhujodi</option>
                                    <option value="kashida">Kashida</option>
                                    <option value="khadi">Khadi</option>
                                    <option value="chanderi">Chanderi</option>
                                    <option value="maheshwari">Maheshwari</option>
                                    <option value="kumaoni">Kumaoni</option>
                                    <option value="kanjivaram">Kanjivaram</option>
                                    <option value="gadual">Gadual</option>
                                    <option value="odishaWeave">Odisha Weave</option>
                                    <option value="kerela Weave">Kerela Weave</option>
                                    <option value="venkatgiri">Venkatgiri</option>
                                    <option value="madurai">madurai</option>
                                    <option value="kosa">Kosa</option>
                                    <option value="mangalgiri">mangalgiri</option>
                                    <option value="ikkat">Ikkat</option>
                                    <option value="bhagalpuri">Bhagalpuri</option>
                                    <option value="bengalWeave">Bengal Weave</option>
                                    <option value="assamWeave">Assam Weave</option>
                                    <optgroup label="Banarasi">
                                        <option value="tanchoi">Tanchoi</option>
                                        <option value="brocade">Brocade</option>
                                        <option value="chicarga">Chicarga</option>
                                        <option value="kinkhap">Kinkhap</option>
                                    </optgroup>   
                                </optgroup>
                                 <optgroup label = "Handblock">
                                    <option value="ajrakh">Ajrakh</option>
                                    <option value="pigmentBlock">Pigment Block</option>
                                    <option value="dabu">Dabu</option>
                                    <option value="batique">Batique</option>
                                    <option value="ecoPrint">Eco Print</option>
                                    <option value="bagh">Bagh</option>
                                </optgroup>
                                <optgroup label = "Hand Painting">
                                    <option value="penKalamkari">Pen Kalamkari</option>
                                    <option value="silkDyePaint">Silk Dye Paint</option>
                                    <option value="waxBatique">Wax batique</option>
                                    <option value="resistDye">Resist Dye</option>
                                    <option value="madhubani">Madhubani</option>
                                    <option value="saura">Saura</option>
                                    <option value="rogan">Rogan</option>
                                    <option value="gondha">Gondha</option>
                                    <option value="gond">Gond</option>
                                    <option value="pattachitra">Pattachitra</option>
                                    <option value="potPainting">Pot Painting</option>
                                    <option value="fudPainting">Fud Painting</option>
                                    <option value="devotional">Devotional</option>
                                    <option value="marbleArt">Marble Art</option>
                                </optgroup>
                                <optgroup label = "Tie-Dye">
                                    <option value="bandhani">Bandhani</option>
                                    <option value="japaneseShibori">Japanese Shibori</option>
                                    <option value="nuiShibori">Nui Shibori</option>
                                    <option value="bandej">Bandej</option>
                                    <option value="ecoPrint">Eco Print</option>
                                    <option value="bagh">Bagh</option>
                                </optgroup>
                        </select>
                        

                    </div>
                    <div class="form-item">
                            <label for="readymadeSleeve">Sleeve Type</label>
                            <select id="readymadeSleeve" name="readymadeSleeve">
                                <option value="">Select category</option>
                                <option value = "notRequired">Not Required</option>
                                <option value="sleeveless">Sleeveless</option>
                                <option value="cap-sleeve">Cap Sleeve</option>
                                <option value="short-sleeve">Short Sleeve</option>
                                <option value="elbow-length">Elbow Length</option>
                                <option value="three-quarter">Three-Quarter Sleeve</option>
                                <option value="full-sleeve">Full Sleeve</option>
                            </select>
                        </div>
                    <div class="form-item">
                            <label for="fabric-type">Fabric Type</label>
                            <select id="fabric-type" name="readymadeFabricType">
                                <option value="">Select Fabric Type</option>
                                <optgroup label="Plain Weave Based">
                                <option value="plainWeave">Plain Weave</option>
                                <option value="chiffon">Chiffon</option>
                                <option value="georgette">Georgette</option>
                                <option value="organza">Organza</option>
                                <option value="voile">Voile</option>
                                <option value="crepe">Crepe</option>
                                <option value="cambric">Cambric</option>
                                <option value="poplin">Poplin</option>
                                <option value="muslin">Muslin</option>
                                <option value="lawn">Lawn</option>
                                </optgroup>
                                <optgroup label="Twill Based">
                                <option value="twill">Twill</option>
                                <option value="drill">Drill</option>
                                <option value="gabardine">Gabardine</option>
                                <option value="denim">Denim</option>
                                </optgroup>
                                <optgroup label="Satin Based">
                                <option value="satin">Satin</option>
                                <option value="sateen">Sateen</option>
                                <option value="duchessSatin">Duchess Satin</option>
                                </optgroup>
                                <optgroup label="Jacquard & Figured">
                                <option value="jacquard">Jacquard</option>
                                <option value="brocade">Brocade</option>
                                <option value="damask">Damask</option>
                                </optgroup>
                                <optgroup label="Open / Mesh">
                                <option value="net">Net</option>
                                <option value="mesh">Mesh</option>
                                <option value="lace">Lace</option>
                                </optgroup>
                                <optgroup label="Pile / Raised">
                                <option value="velvet">Velvet</option>
                                <option value="corduroy">Corduroy</option>
                                <option value="terry">Terry</option>
                                </optgroup>
                                <optgroup label="Knitted Constructions">
                                <option value="singleJersey">Single Jersey</option>
                                <option value="ribKnit">Rib Knit</option>
                                <option value="interlock">Interlock</option>
                                </optgroup>
                                <optgroup label="Special Constructions">
                                <option value="chanderiWeave">Chanderi Weave</option>
                                <option value="kotaDoria">Kota Doria</option>
                                <option value="doubleCloth">Double Cloth</option>
                                <option value="crepeWeave">Crepe Weave</option>
                                </optgroup>
                            </select>
                    </div>

                </div>
                <div class="input-row">
                    <div class="form-item">
                        <label for="readymadeType">Dress Type</label>
                        <select id="readymadeType" name="readymadeType">
                            <option value="">Select category</option>
                            <option value="kurta">Kurta</option>
                            <option value="tuniq">Tuniq</option>
                            <option value="shrug">Shrug</option>
                            <option value="kaftan">Kaftan</option>
                            <option value="suit">Suit</option>
                            <option value="kimono">Kimono</option>
                            <option value="poncho">Poncho</option>
                            <option value="jacket">Jacket</option>
                            <option value="maxi">Maxi</option>
                            <option value="cape">Cape</option>
                            <option value = "blouseStitched">Full Stitched Blouse</option>
                        </select>
                    </div>
                    <div class="form-item">
                        <label for = "readymadeNeckline">Neckline</label>
                        <select name="readymadeNeckline" id="readymadeNeckline">
                        <option value="">Select neckline</option>
                        <option value = "notRequired">Not Required</option>
                        <option value="roundNeck">Round Neck</option>
                        <option value="vNeck">V Neck</option>
                        <option value="deepVNeck">Deep V Neck</option>
                        <option value="uNeck">U Neck</option>
                        <option value="squareNeck">Square Neck</option>
                        <option value="boatNeck">Boat Neck</option>
                        <option value="scoopNeck">Scoop Neck</option>
                        <option value="sweetheartNeck">Sweetheart Neck</option>
                        <option value="halterNeck">Halter Neck</option>
                        <option value="oneShoulderNeck">One-Shoulder Neck</option>
                        <option value="offShoulderNeck">Off-Shoulder Neck</option>
                        <option value="collaredNeck">Collared Neck</option>
                        <option value="chineseCollar">Chinese Collar</option>
                        <option value="mandarinCollar">Mandarin Collar</option>
                        <option value="keyholeNeck">Keyhole Neck</option>
                        <option value="notchNeck">Notch Neck</option>
                        <option value="asymmetricNeck">Asymmetric Neck</option>
                        </select>

                    </div>

                </div>
                <div class="blouse-readymade-stitched-box">
                    <div class="input-row">
                        <div class="form-item">
                            <label for="blouse-lining">Blouse Lining</label>
                            <select id="blouse-lining" name="readymadeBlouseLining">
                                <option value = "">Select Category</option>
                                <option value = "yes">Yes</option>
                                <option value = "No">No</option>
                            </select>
                        </div>
                        <div class="form-item">
                            <label for="blouse-clouse">Closure Type</label>
                            <select id="blouse-closure" name="readymadeBlouseClosure">
                                <option value="">Select Category</option>
                                <option value="notRequired">Not Required</option>
                                <option value="backHooks">Back Hooks</option>
                                <option value="frontHooks">Front Hooks</option>
                                <option value="tieUp">Tie-up Back (Dori)</option>
                                <option value="backButton">Buttoned Back</option>
                                <option value="backZipper">Back Zipper</option>
                                <option value="sideZipper">Side Zipper</option>
                            </select>
                        </div>
                        <div class="form-item">
                            <label for="blouse-back">Back Type</label>
                            <select id="blouse-back" name="readymadeBlouseBack">
                                <option value="">Select back style</option>
                                <option value="notRequired">Not Required</option>
                                <option value="closedBack">Closed Back</option>
                                <option value="highBack">High Back</option>
                                <option value="buttonedBack">Buttoned Back</option>
                                <option value="zipperBack">Zipper Back</option>
                                <option value="hookedBack">Hooked Back</option>
                                <option value="deepUBack">Deep U Back</option>
                                <option value="deepVBack">Deep V Back</option>
                                <option value="roundBack">Round Back</option>
                                <option value="squareBack">Square Back</option>
                                <option value="keyholeBack">Keyhole Back</option>
                                <option value="doriTieUpBack">Dori Tie-Up Back</option>
                                <option value="crissCrossTieBack">Criss-Cross Tie Back</option>
                                <option value="tieUpWithTassels">Tie-Up with Tassels</option>
                                <option value="cutOutBack">Cut-Out Back</option>
                                <option value="multipleCutOutBack">Multiple Cut-Out Back</option>
                                <option value="sheerNetBack">Sheer / Net Back</option>
                                <option value="borderPanelBack">Back with Border Panel</option>
                                <option value="backless">Backless</option>
                                <option value="cagedBack">Caged Back</option>
                                <option value="corsetBack">Corset Back</option>
                                <option value="bowTieBack">Bow Tie Back</option>
                            </select>
                        </div>  
                    </div>
                </div>  
            </fieldset>

            <!-- ===================== WRAPS / DUPATTAS / STOLES ===================== -->
            <fieldset class="section-wrap">
                <div class="input-row">

                    <div class="form-item">
                        <label for="wrap-length">Length of Wrap</label>
                        <input type="text" id="wrap-length" name="wrapLength" placeholder="Enter Length of Wrap (Meters)" required>
                    </div>

                    <div class="form-item">
                        <label for="wrap-width">Width of Wrap</label>
                        <input type="text" id="wrap-width" name="wrapWidth" placeholder="Enter Width of Wrap (Inches)" required>
                    </div>
                </div>
                <div class="input-row">


                    <div class="form-item">
                            <label for="wrap-pattern">Design Type of wrap</label>
                            <select id="wrap-pattern" name="wrapDesign">
                                <option value="">Select category</option>
                                <option value="plain">Plain</option>
                                <optgroup label = "Embroidery">
                                    <option value="zari">Zari Work</option>
                                    <option value="kantha">Kantha</option>
                                    <option value="aari">Aari</option>
                                    <option value="sozni">Sozni</option>
                                    <option value="sujni">Sujni</option>
                                    <option value="kashmiri">Kashmiri</option>
                                    <option value="Kachh">Kachh Work</option>
                                    <option value="kasuti">Kasuti</option>
                                    <option value="lambani">Lambani</option>
                                    <option value="toda">Toda</option>
                                    <option value="mirror">Mirror Work</option>
                                    <option value="sequin">Sequin Work</option>
                                    <option value="stone">Stone Work</option>
                                </optgroup>
                                <optgroup label="Handloom Weave">
                                    <option value="jamdani">Jamdani</option>
                                    <option value="bhujodi">Bhujodi</option>
                                    <option value="kashida">Kashida</option>
                                    <option value="khadi">Khadi</option>
                                    <option value="chanderi">Chanderi</option>
                                    <option value="maheshwari">Maheshwari</option>
                                    <option value="kumaoni">Kumaoni</option>
                                    <option value="kanjivaram">Kanjivaram</option>
                                    <option value="gadual">Gadual</option>
                                    <option value="odishaWeave">Odisha Weave</option>
                                    <option value="kerela Weave">Kerela Weave</option>
                                    <option value="venkatgiri">Venkatgiri</option>
                                    <option value="madurai">madurai</option>
                                    <option value="kosa">Kosa</option>
                                    <option value="mangalgiri">mangalgiri</option>
                                    <option value="ikkat">Ikkat</option>
                                    <option value="bhagalpuri">Bhagalpuri</option>
                                    <option value="bengalWeave">Bengal Weave</option>
                                    <option value="assamWeave">Assam Weave</option>
                                    <optgroup label="Banarasi">
                                        <option value="tanchoi">Tanchoi</option>
                                        <option value="brocade">Brocade</option>
                                        <option value="chicarga">Chicarga</option>
                                        <option value="kinkhap">Kinkhap</option>
                                    </optgroup>   
                                </optgroup>
                                 <optgroup label = "Handblock">
                                    <option value="ajrakh">Ajrakh</option>
                                    <option value="pigmentBlock">Pigment Block</option>
                                    <option value="dabu">Dabu</option>
                                    <option value="batique">Batique</option>
                                    <option value="ecoPrint">Eco Print</option>
                                    <option value="bagh">Bagh</option>
                                </optgroup>
                                <optgroup label = "Hand Painting">
                                    <option value="penKalamkari">Pen Kalamkari</option>
                                    <option value="silkDyePaint">Silk Dye Paint</option>
                                    <option value="waxBatique">Wax batique</option>
                                    <option value="resistDye">Resist Dye</option>
                                    <option value="madhubani">Madhubani</option>
                                    <option value="saura">Saura</option>
                                    <option value="rogan">Rogan</option>
                                    <option value="gondha">Gondha</option>
                                    <option value="gond">Gond</option>
                                    <option value="pattachitra">Pattachitra</option>
                                    <option value="potPainting">Pot Painting</option>
                                    <option value="fudPainting">Fud Painting</option>
                                    <option value="devotional">Devotional</option>
                                    <option value="marbleArt">Marble Art</option>
                                </optgroup>
                                <optgroup label = "Tie-Dye">
                                    <option value="bandhani">Bandhani</option>
                                    <option value="japaneseShibori">Japanese Shibori</option>
                                    <option value="nuiShibori">Nui Shibori</option>
                                    <option value="bandej">Bandej</option>
                                    <option value="ecoPrint">Eco Print</option>
                                    <option value="bagh">Bagh</option>
                                </optgroup>>
                            </select>
                        </div>
                            <div class="form-item">
                                <label for="fabric-type">Fabric Type</label>
                                <select id="fabric-type" name="wrapFabricType">
                                    <option value="">Select Fabric Type</option>
                                    <optgroup label="Plain Weave Based">
                                    <option value="plainWeave">Plain Weave</option>
                                    <option value="chiffon">Chiffon</option>
                                    <option value="georgette">Georgette</option>
                                    <option value="organza">Organza</option>
                                    <option value="voile">Voile</option>
                                    <option value="crepe">Crepe</option>
                                    <option value="cambric">Cambric</option>
                                    <option value="poplin">Poplin</option>
                                    <option value="muslin">Muslin</option>
                                    <option value="lawn">Lawn</option>
                                    </optgroup>
                                    <optgroup label="Twill Based">
                                    <option value="twill">Twill</option>
                                    <option value="drill">Drill</option>
                                    <option value="gabardine">Gabardine</option>
                                    <option value="denim">Denim</option>
                                    </optgroup>
                                    <optgroup label="Satin Based">
                                    <option value="satin">Satin</option>
                                    <option value="sateen">Sateen</option>
                                    <option value="duchessSatin">Duchess Satin</option>
                                    </optgroup>
                                    <optgroup label="Jacquard & Figured">
                                    <option value="jacquard">Jacquard</option>
                                    <option value="brocade">Brocade</option>
                                    <option value="damask">Damask</option>
                                    </optgroup>
                                    <optgroup label="Open / Mesh">
                                    <option value="net">Net</option>
                                    <option value="mesh">Mesh</option>
                                    <option value="lace">Lace</option>
                                    </optgroup>
                                    <optgroup label="Pile / Raised">
                                    <option value="velvet">Velvet</option>
                                    <option value="corduroy">Corduroy</option>
                                    <option value="terry">Terry</option>
                                    </optgroup>
                                    <optgroup label="Knitted Constructions">
                                    <option value="singleJersey">Single Jersey</option>
                                    <option value="ribKnit">Rib Knit</option>
                                    <option value="interlock">Interlock</option>
                                    </optgroup>
                                    <optgroup label="Special Constructions">
                                    <option value="chanderiWeave">Chanderi Weave</option>
                                    <option value="kotaDoria">Kota Doria</option>
                                    <option value="doubleCloth">Double Cloth</option>
                                    <option value="crepeWeave">Crepe Weave</option>
                                    </optgroup>
                                </select>
                            </div>
                            <div class="form-item">
                                <label for="wrap-type">Wrap Type</label>
                                <select id="wrap-type" name="wrapType">
                                    <option value="">Select Category</option>
                                    <option value="dupatta">Dupatta</option>
                                    <option value="stole">Stole</option>

                                </select>
                            </div>
                        </div>

            </fieldset>

            <!-- ===================== JEWELLARY ===================== -->
            <fieldset class="section-jewellary">

                <div class="input-row">

                    <div class="form-item">
                        <label for="jewellery-type">Type of Jewellery</label>
                        <select id="jewellery-type" name="jewelleryType" required>
                            <option value="">SelectCategory</option>

                            <optgroup label="neck Jewellery">
                            <option value="chainNecklace">Chain Necklace</option>
                            <option value="pendantNecklace">Pendant Necklace</option>
                            <option value="chokerNecklace">Choker Necklace</option>
                            <option value="longNecklace">Long Necklace</option>
                            </optgroup>

                            <optgroup label="Ear Jewellery">
                            <option value="studEarrings">Stud Earrings</option>
                            <option value="hoopEarrings">Hoop Earrings</option>
                            <option value="jhumkaEarrings">Jhumka Earrings</option>
                            <option value="earCuffs">Ear Cuffs</option>
                            </optgroup>

                            <optgroup label="finger Jewellery">
                            <option value="goldRing">Gold Ring</option>
                            <option value="silverRing">Silver Ring</option>
                            <option value="engagementRing">Engagement Ring</option>
                            <option value="cocktailRing">Cocktail Ring</option>
                            </optgroup>

                            <optgroup label="Wrist Jewellery">
                            <option value="goldBangles">Gold Bangles</option>
                            <option value="silverBangles">Silver Bangles</option>
                            <option value="charmBracelet">Charm Bracelet</option>
                            <option value="kadaBracelet">Kada Bracelet</option>
                            </optgroup>

                            <optgroup label="Other Jewellery">
                            <option value="nosePin">Nose Pin</option>
                            <option value="noseRing">Nose Ring</option>
                            <option value="anklet">Anklet</option>
                            <option value="toeRing">Toe Ring</option>
                            <option value="woodenPendant">Wooden Pendant</option>
                            </optgroup>
                        </select>
                    </div>

                    <div class="form-item">
                        <label for="jewellery-craft">Craft Style of Jewellery</label>
                        <select id="jewellery-craft" name="jewelleryCraft" required>
                            <option value="">SelectCategory</option>

                            <optgroup label="Traditional Styles">
                            <option value="meenakari">Meenakari</option>
                            <option value="kundan">Kundan</option>
                            <option value="jadau">Jadau</option>
                            <option value="templeJewellery">Temple Jewellery</option>
                            <option value="polki">Polki</option>
                            </optgroup>

                            <optgroup label="Artisan & Craft Styles">
                            <option value="filigree">Filigree</option>
                            <option value="handcrafted">Handcrafted</option>
                            <option value="tribal">Tribal</option>
                            <option value="dhokra">Dhokra</option>
                            <option value="custom">Custom</option>
                            </optgroup>

                            <optgroup label="Finish & Surface Work">
                            <option value="oxidised">Oxidised</option>
                            <option value="stoneWork">Stone Work</option>
                            <option value="pearlWork">Pearl Work</option>
                            <option value="plain">Plain</option>
                            </optgroup>
                        </select>
                    </div>

                </div>

                <div class="input-row">
                    <div class="form-item">
                        <label for="jew-weight">Weight of Jewellary (optional)</label>
                        <input type="text" id="jew-weight" name="jewelleryWeight" placeholder="Enter Weight of jewellary (grams)">
                    </div>
                </div>

            </fieldset>

            <!-- ===================== STANDALONE BLOUSE ===================== -->
            <fieldset class="section-blouse">

                <div class="blouse-included-box">
                    <div class="input-row">
                        <div class="form-item">
                            <label for="saree-blouse-type">Type of Blouse</label>
                            <select id="saree-blouse-type" name="blouseType">
                                <option value="">Select category</option>
                                <option value="unstitched">Unstitched</option>
                                <option value="semi-stitched">Semi-Stitched</option>
                            </select>
                        </div>
                        <div class="form-item">
                            <label for="blouse-pattern">Design Type of Blouse</label>
                            <select id="blouse-pattern" name="blouseDesign">
                                <option value="">Select category</option>
                                <option value="plain">Plain</option>
                                <optgroup label = "Embroidery">
                                    <option value="zari">Zari Work</option>
                                    <option value="kantha">Kantha</option>
                                    <option value="aari">Aari</option>
                                    <option value="sozni">Sozni</option>
                                    <option value="sujni">Sujni</option>
                                    <option value="kashmiri">Kashmiri</option>
                                    <option value="Kachh">Kachh Work</option>
                                    <option value="kasuti">Kasuti</option>
                                    <option value="lambani">Lambani</option>
                                    <option value="toda">Toda</option>
                                    <option value="mirror">Mirror Work</option>
                                    <option value="sequin">Sequin Work</option>
                                    <option value="stone">Stone Work</option>
                                </optgroup>
                                <optgroup label="Handloom Weave">
                                    <option value="jamdani">Jamdani</option>
                                    <option value="bhujodi">Bhujodi</option>
                                    <option value="kashida">Kashida</option>
                                    <option value="khadi">Khadi</option>
                                    <option value="chanderi">Chanderi</option>
                                    <option value="maheshwari">Maheshwari</option>
                                    <option value="kumaoni">Kumaoni</option>
                                    <option value="kanjivaram">Kanjivaram</option>
                                    <option value="gadual">Gadual</option>
                                    <option value="odishaWeave">Odisha Weave</option>
                                    <option value="kerela Weave">Kerela Weave</option>
                                    <option value="venkatgiri">Venkatgiri</option>
                                    <option value="madurai">madurai</option>
                                    <option value="kosa">Kosa</option>
                                    <option value="mangalgiri">mangalgiri</option>
                                    <option value="ikkat">Ikkat</option>
                                    <option value="bhagalpuri">Bhagalpuri</option>
                                    <option value="bengalWeave">Bengal Weave</option>
                                    <option value="assamWeave">Assam Weave</option>
                                    <optgroup label="Banarasi">
                                        <option value="tanchoi">Tanchoi</option>
                                        <option value="brocade">Brocade</option>
                                        <option value="chicarga">Chicarga</option>
                                        <option value="kinkhap">Kinkhap</option>
                                    </optgroup>   
                                </optgroup>
                                 <optgroup label = "Handblock">
                                    <option value="ajrakh">Ajrakh</option>
                                    <option value="pigmentBlock">Pigment Block</option>
                                    <option value="dabu">Dabu</option>
                                    <option value="batique">Batique</option>
                                    <option value="ecoPrint">Eco Print</option>
                                    <option value="bagh">Bagh</option>
                                </optgroup>
                                <optgroup label = "Hand Painting">
                                    <option value="penKalamkari">Pen Kalamkari</option>
                                    <option value="silkDyePaint">Silk Dye Paint</option>
                                    <option value="waxBatique">Wax batique</option>
                                    <option value="resistDye">Resist Dye</option>
                                    <option value="madhubani">Madhubani</option>
                                    <option value="saura">Saura</option>
                                    <option value="rogan">Rogan</option>
                                    <option value="gondha">Gondha</option>
                                    <option value="gond">Gond</option>
                                    <option value="pattachitra">Pattachitra</option>
                                    <option value="potPainting">Pot Painting</option>
                                    <option value="fudPainting">Fud Painting</option>
                                    <option value="devotional">Devotional</option>
                                    <option value="marbleArt">Marble Art</option>
                                </optgroup>
                                <optgroup label = "Tie-Dye">
                                    <option value="bandhani">Bandhani</option>
                                    <option value="japaneseShibori">Japanese Shibori</option>
                                    <option value="nuiShibori">Nui Shibori</option>
                                    <option value="bandej">Bandej</option>
                                    <option value="ecoPrint">Eco Print</option>
                                    <option value="bagh">Bagh</option>
                                </optgroup>
                            </select>
                        </div>
                        </div>
                        <div class="input-row">
                            <div class="form-item">
                                <label for="blouse-lining">Lining of Blouse</label>
                                <select id="blouse-lining" name="blouseLining">
                                    <option value = "">Select Category</option>
                                    <option value = "yes">Yes</option>
                                    <option value = "No">No</option>
                                </select>
                            </div>
                            <div class="form-item">
                                <label for="fabric-type">Fabric Type</label>
                                <select id="fabric-type" name="blouseFabricType">
                                    <option value="">Select Fabric Type</option>
                                    <optgroup label="Plain Weave Based">
                                    <option value="plainWeave">Plain Weave</option>
                                    <option value="chiffon">Chiffon</option>
                                    <option value="georgette">Georgette</option>
                                    <option value="organza">Organza</option>
                                    <option value="voile">Voile</option>
                                    <option value="crepe">Crepe</option>
                                    <option value="cambric">Cambric</option>
                                    <option value="poplin">Poplin</option>
                                    <option value="muslin">Muslin</option>
                                    <option value="lawn">Lawn</option>
                                    </optgroup>
                                    <optgroup label="Twill Based">
                                    <option value="twill">Twill</option>
                                    <option value="drill">Drill</option>
                                    <option value="gabardine">Gabardine</option>
                                    <option value="denim">Denim</option>
                                    </optgroup>
                                    <optgroup label="Satin Based">
                                    <option value="satin">Satin</option>
                                    <option value="sateen">Sateen</option>
                                    <option value="duchessSatin">Duchess Satin</option>
                                    </optgroup>
                                    <optgroup label="Jacquard & Figured">
                                    <option value="jacquard">Jacquard</option>
                                    <option value="brocade">Brocade</option>
                                    <option value="damask">Damask</option>
                                    </optgroup>
                                    <optgroup label="Open / Mesh">
                                    <option value="net">Net</option>
                                    <option value="mesh">Mesh</option>
                                    <option value="lace">Lace</option>
                                    </optgroup>
                                    <optgroup label="Pile / Raised">
                                    <option value="velvet">Velvet</option>
                                    <option value="corduroy">Corduroy</option>
                                    <option value="terry">Terry</option>
                                    </optgroup>
                                    <optgroup label="Knitted Constructions">
                                    <option value="singleJersey">Single Jersey</option>
                                    <option value="ribKnit">Rib Knit</option>
                                    <option value="interlock">Interlock</option>
                                    </optgroup>
                                    <optgroup label="Special Constructions">
                                    <option value="chanderiWeave">Chanderi Weave</option>
                                    <option value="kotaDoria">Kota Doria</option>
                                    <option value="doubleCloth">Double Cloth</option>
                                    <option value="crepeWeave">Crepe Weave</option>
                                    </optgroup>
                                </select>
                            </div>
                        </div>
                        
                </div>

                <div class="blouse-semi-box">
                    <div class="input-row">

                        <div class="form-item">
                            <label for="blouse-chest">Chest Size of Blouse</label>
                            <input type="text" id="blouse-chest" name="blouseChest" placeholder="Enter Chest Size of Blouse (Inches)" required>
                        </div>

                        <div class="form-item">
                            <label for="blouse-length">Length of Blouse</label>
                            <input type="text" id="blouse-length" name="blouseLength" placeholder="Enter Length of Blouse (Inches)" required>
                        </div>
                        <div class="form-item">
                            <label for="blouse-sleeve">Sleeve Type of Blouse</label>
                            <select id="blouse-sleeve" name="blouseSleeve">
                                <option value="">Select category</option>
                                <option value="notRequired">Not Required</option>
                                <option value="sleeveless">Sleeveless</option>
                                <option value="cap-sleeve">Cap Sleeve</option>
                                <option value="short-sleeve">Short Sleeve</option>
                                <option value="elbow-length">Elbow Length</option>
                                <option value="three-quarter">Three-Quarter Sleeve</option>
                                <option value="full-sleeve">Full Sleeve</option>
                            </select>
                        </div>

                    </div>
                </div>
                <!--Unstitched Blouse-->
                <div class="blouse-unstitched-box">
                    <div class="input-row">
                        <div class="form-item">
                            <label for="blouse-length">Length of Blouse</label>
                            <input type="text" id="blouse-length" name="blouseLength" placeholder="Enter Length of Blouse (Inches)" required>
                        </div>
                    </div>

                </div>
                    
            </fieldset>
            <fieldset class="section-homeDecor">
                <div class="input-row">
                    <div class="form-item">
                            <label for="decorType">Decor Type</label>
                            <select id="decorType" name="decorType">
                                <option value = "">Select Category</option>
                                <option value = "painting">Painting</option>
                                <option value = "tableRunner">Table Runner</option>
                                <option value = "curtain">Curtain</option>
                                <option value = "bedSpread">Bed Spread</option>
                                <option value = "rug">Rugs</option>
                            </select>
                    </div>
                </div>
                
            </fieldset>

            <!-- ===================== PRODUCT IMAGES ===================== -->
            <div class="header">Product Images</div>

            <div class="section">

                <div class="input-row">

                    <div class="form-item">
                        <label for="image1">Image 1</label>
                        <input type="text" id="image1" name="image1" placeholder="Enter Image URL" required>
                    </div>

                    <div class="form-item">
                        <label for="image2">Image 2</label>
                        <input type="text" id="image2" name="image2" placeholder="Enter Image URL">
                    </div>

                </div>

                <div class="input-row">

                    <div class="form-item">
                        <label for="image3">Image 3</label>
                        <input type="text" id="image3" name="image3" placeholder="Enter Image URL">
                    </div>

                    <div class="form-item">
                        <label for="image4">Image 4</label>
                        <input type="text" id="image4" name="image4" placeholder="Enter Image URL">
                    </div>

                </div>
                <div class="input-row">

                    <div class="form-item">
                        <label for="image5">Image 5</label>
                        <input type="text" id="image5" name="image5" placeholder="Enter Image URL">
                    </div>

                    <div class="form-item">
                        <label for="image6">Image 6</label>
                        <input type="text" id="image5" name="image6" placeholder="Enter Image URL">
                    </div>

                </div>

            </div>

            <!-- ===================== SUBMIT ===================== -->
            <div class="section">
                <div class="input-row">
                    <button class="form-button" id="submit">
                        <i data-lucide="plus" class="icon-plus"></i>
                        Add Item
                    </button>
                </div>
            </div>

        </form>

    </div>

    <!-- Scripts -->
    <script>
        lucide.createIcons();
    </script>
    <script src="/js/add.js"></script>

</body>
</html>
